{% extends 'base.html' %}
{% block content %}
<body class="text-center">

<main class="d-flex justify-content-center align-items-center mt-5">
  <form class="col-5">
    <img class="mb-4" src="https://plan.io/images/blog/7-places-workflow.png?1733842093" alt="" width="100" height="60">

    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating mb-1">
      <input type="username" class="form-control" id="floatingInput" placeholder="Username">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
  </form>
</main>
</body>
{% endblock %}
